################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

DisBot/admins.txt
DisBot/options.json
node_modules/*
plugins/*
playlists/*
ffmpeg