################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DisBot/.ntvs_analysis.dat
/DisBot/file.txt
