<!DOCTYPE html>
<html>
<head>
    <%- include templates/head %>
    <title>R3alB0t - Features</title>
    <style type="text/css">
        img {
            position: absolute;
            top: 250px;
            left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
        }
    </style>
</head>
<body onload="loaded()">
	<%- include templates/navbar {user: user} %>
    <img src="/img/maidchan_laptop.png"></img>
    <nav>
        <lii><p3 id="li">want to contribute or host your own click <a href="http://github.com/R3alCl0ud/R3alB0t">here</a> to go to the source</p3></lii>
    </nav>
</body>
</html>
