<!DOCTYPEhtml>
<html lang="en">

<head>
    <%- include templates/head %>
        <title>R3alB0at</title>

</head>

<body onload="loaded()">
    <%- include templates/navbar {user: user} %>
        <img src="/img/maidchans.png" style="margin-left:auto; margin-right: auto; position: absolute; top: 40%; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 450px;" id="maidchan">
        <H1 id="fnt-handle">R3alB0at</H1>
        <div class="add" href="https://beta.r3alb0t.xyz/bot">
            <a href="https://beta.r3alb0t.xyz/bot">
                <p1>ADD TO DISCORD</p1>
            </a>
        </div>
        <nav>
            <lii>
                <p3 id="li">want to contribute or host your own click <a href="http://github.com/R3alCl0ud/R3alB0t">here</a> to go to the source</p3>
            </lii>
        </nav>
</body>
</html>
