<!DOCTYPE html>
<html lang="en">
<head>
    <%- include templates/head %>
    <title>Playlist - <%= guild %></title>
</head>
<body onload="loaded()">
	<%- include templates/navbar {user: user} %>

    <div class="col-md-12" style="position: absolute; margin-top: 60px; z-index: -1;">
	    <%- include templates/terminal-music {playlist: playlist, bot: bot } %>
    </div>
</body>
