<!DOCTYPEhtml>
<html lang="en">

<head>
    <title>Testing Page</title>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
    <center>
        <a href="test/music" style="position:absolute; top: 50%;">Test Playing Music</a>
        <a href="test/stop" style="position:absolute; top: 55%;">Test Stoping Music</a>
        <a href="test/pause" style="position:absolute; top: 60%;">Test Pausing Music</a>
        <form action="sendMessage" method="get" enctype="multipart/form-data">
            First name:
            <br>
            <input type="text" name="message">
            <input type="submit" value="Submit">
        </form>
    </center>
<script>
  var socket = io();
</script>
</body>
</html>
