/***************
*Variable Names*
***************/
.page-sidebar .page-sidebar-menu > li > a > span[class^="myarrow"] {
  float: right;
  font-size: 10px;
  margin: 5px 1px 2px 2px;
}
#Navigation {
  margin: 70px 0 0 0;
}
#spaceHolder {
  position: absolute;
  left: 235px;
  top: 0px;
  width: 87.2vw;
  height: 100vh;
  background: white;
}
.label.edited-label {
  padding: 7px 4px 5px 4px;
}
.sidebar-position {
  position: relative;
  top: 50px;
}
.sidebar-position.when-closed {
  width: 50px !important;
}
.sidebar-position.when-closed .large[class*="icon"] {
  font-size: 20px;
  top: -1px;
  margin: 0px 0px 0px -5px;
  top: 1px;
}
.sidebar-position.when-closed .completely-hidden {
  display: none;
}
.sidebar-position.when-closed .kinda-hidden {
  visibility: hidden;
}
.nav-dropdown.dropdown.isOpen > ul {
  display: inline-block;
}
[class^="logo-default"].completely-hidden {
  display: none;
}
[class^="logo-default"] {
  height: 30px;
}
.when-open.page-sidebar > ul.page-sidebar-menu > li.nav-item > a > i[class^="icon-"] {
  font-size: 22px;
}
div > div.page-logo > div.menu-toggler.sidebar-toggler.when-closed {
  position: relative;
  left: -169px;
}

li {
    display:inline;
}
