<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html" />
  <meta name="author" content="Zachary Waldron" />
  <meta name="description" content="The template for the video sharing site home page" />
  <meta name="keywords" content="video, sharing, share, home, professional, template" />
  <title>Video sharing site home page.</title>
</head>
<body>
  <form id="challenge-form" action="/cdn-cgi/l/chk_jschl" method="get">
      <input type="hidden" name="jschl_vc" value="580f83ca2fe8f19c7330ce2e013302e1"/>
      <input type="hidden" name="pass" value="1466055098.323-VuLe+Z3z7E"/>
      <input type="hidden" id="jschl-answer" name="jschl_answer"/>
    </form>
</body>
</html>
