<div class="col-md-8">
    <h3>Commands</h3>
    <br>
    <h4 style="margin-top: -7px;">Add a command</h4>
    <form id="add_form" method="post" action="/terminal/<%= guildID %>/cmd/add">

        <div class="input-group">
            <span class="input-group-addon" style="border-radius:0px;">##</span>
            <input class="form-control" type="text" name="title" placeholder="command" style="border-radius:0px;">
        </div>
        <br>
        <textarea class="form-control" name="message" placeholder="message" style="border-radius:0px;"></textarea>
        <input type="submit" value="Add command" style="width:  100%; color: black; padding: 6px; margin-top: 10px;">
        <center><%- include commandTable {commands: commands} %></center>
    </form>
</div>
