<table data-sortable>
    <thead id="th">
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tb">
        <% for(var i=0; i <commands.length; i++) { %>
        <tr>
            <td><%= commands[i].title %></td>
            <td><%= commands[i].message %></td>
            <td>Edit Delete</td>
        </tr>
        <% } %>
        <script>
            Sortable.init();
        </script>
    </tbody>
</table>
