<div class="list-group-item" style="color: black;">
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
									<h3><strong>¥<%= member.credits %></strong></h3>
								</div>
        <div class="col-md-1 col-sm-1 hidden-xs" style="padding:0;"><img src="<%= member.avatar %>" style="width:100%" class="img-circle"></img>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-5">
            <h3>
            <%= member.name %>#<%= member.descriminator %>
                </h3>
        </div>
    </div>
</div>
