<div class="col-md-4">
    <h3>Settings</h3>
    <div class="list-group">
        <a href="/terminal/<%= gid %>/cmd" class="list-group-item"><h4 class="list-item-group-heading"><i class="fa fa-hashtag" aria-hidden="true"></i><i class="fa fa-hashtag" aria-hidden="true"></i> Messages</h4><p2>
    Add your own messages.</p></a>

        <a href="/terminal/<%= gid %>/music" class="list-group-item">
            <p><i class="fa fa-music" aria-hidden="true"></i> Music</p>
        </a>

        <a href="/terminal/<%= gid %>/credits" class="list-group-item"><h4 class="list-item-group-heading"><i class="fa fa-jpy" aria-hidden="true"></i> Currency</h4></a>
    </div>
</div>
