<style>
.guildIcon {
	width: 100px;
	margin:15px;
	border-radius: 50%;
	vertical-align:middle;
}
.test {
	position: absolute;
	top: 50px;
	left:15%;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.guild {

}

h3 small{
font-size: 65%;
}
h5 {
	padding: 0;
	font-size: 32px;
}
</style>
<div class="terminal-top">
	<div class="test">
		<img src="<%= icon %>" id="gicon" class="hvr-grow guildIcon">
		<h5 id="term"><small>Terminal</small><br><%= guild %></h5>
	</div>
</div>
