<div className="portlet greyple box">
    <div className="portlet-title">
        <div className="caption">
            <span className="caption-subject bold uppercase">Feature Comparison</span>
        </div>
    </div>
    <div className="portlet-body">
        <table className="table">
            <thead>
                <tr>
                    <th>
                        <h2>Feature</h2></th>
                    <th>
                        <h2>R3alB0t</h2></th>
                    <th>
                        <h2>Mee6</h2></th>
                    <th>
                        <h2>Murcury</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <h3>Multi Guild Music</h3></th>
                    <th>
                        <h1><i className="fa fa-check"/></h1></th>
                    <th>
                        <h1><i className="fa fa-check"/></h1></th>
                    <th>
                        <h1><i className="fa fa-times"/></h1></th>
                </tr>
                <tr>
                    <th>
                        <h3>Free Music Plugin</h3></th>
                    <th>
                        <h1><i className="fa fa-check"/></h1></th>
                    <th>
                        <h1><i className="fa fa-times"/></h1></th>
                    <th>
                        <h1><i className="fa fa-times"/></h1></th>
                </tr>
                <tr>
                    <th><h3>Youtube support for music</h3></th>
                    <th><h1><i className="fa fa-check"/></h1></th>
                    <th><h1><i className="fa fa-check"/></h1></th>
                    <th><h1><i className="fa fa-times"/></h1></th>
                </tr>
                <tr>
                    <th><h3>SoundCloud support for music</h3></th>
                    <th><h1><i className="fa fa-check"/></h1></th>
                    <th><h1><i className="fa fa-times"/></h1></th>
                    <th><h1><i className="fa fa-times"/></h1></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>