<div class="cmd">
    <form id="add_form" method="post" action="/terminal/<%= gid %>/cmd">

        <div class="input-group">
            <i class="fa fa-hashtag" aria-hidden="true"></i><i class="fa fa-hashtag" aria-hidden="true"></i>
            <input type="text" name="title" placeholer="myCmd">
        </div>
        <br>
        <input type="text" name="message" placeholder="message">
        <input type="submit" value="Submit">
    </form>
</div>
